rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /fl_content/{document=**} {
      allow read;
      
    }
    match /{documents=**} {
    	allow read, write: if request.auth.uid != null;
    }
  }
}