rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /emmanuel-augustine/{document=**} {
      allow read;
    }
  }
}