.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body {
  font-family: 'Roboto', sans-serif;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Loading Animation CSS*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
 body {
	 width: 100%;
	 height: 100vh;
	 font-family: Montserrat;
}

.project-name-link {
  color: #3f3f3f;
}

.center-screen {
  position: relative; 
  width: 100%;
  height: 100vh;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .text {
	 color: #909090;
	 display: inline-block;
	 margin-left: 5px;
}
 .bounceball {
	 position: relative;
	 display: inline-block;
	 height: 37px;
	 width: 15px;
}
 .bounceball:before {
	 position: absolute;
	 content: '';
	 display: block;
	 top: 0;
	 width: 15px;
	 height: 15px;
	 border-radius: 50%;
	 background-color: #909090;
	 transform-origin: 50%;
	 animation: bounce 500ms alternate infinite ease;
}
 @keyframes bounce {
	 0% {
		 top: 30px;
		 height: 5px;
		 border-radius: 60px 60px 20px 20px;
		 transform: scaleX(2);
	}
	 35% {
		 height: 15px;
		 border-radius: 50%;
		 transform: scaleX(1);
	}
	 100% {
		 top: 0;
	}
}

/*Carousel Styles*/
.photos {
  background-color: rgb(235, 235, 235);
}
.photos-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*display: block;  remove extra space below image */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  opacity: .9;
  background-image: none;
}

/*React Transition Group*/
.fade-appear {
  opacity: 0;
  transform: translate(0%, 100%);
  z-index: 1;
}

.fade-enter {
  opacity: 0;
  transform: translate(0%, 100%);
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transform: translate(0px,0px);
  transition: opacity 2000ms linear, transform 2000ms;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0px,0px);
  transition: opacity 2000ms linear, transform 2000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
.fade-exit-done {
  opacity: 0;
}



/*header transition */
.header-appear {
  opacity: 0;
  transform: translate(0%,100%);
  z-index: 1;
  
}

.header-appear.header-appear-active {
  opacity: 1;
  transform: translate(0px,0px);
  transition: opacity 3000ms ease-in, transform 2000ms;
  
}

.header-enter {
  opacity: 0;
  z-index: 1;
}

.header-exit {
  opacity: 1;
}

.header-exit.header-exit-active {
  opacity: 0;
  transition: opacity 3000ms ease-in;
}
.header-exit-done {
  opacity: 0;
}



/*Card Transition Group*/
.card-appear {
  opacity: 0;
  z-index: 1;
  transform: translate(0%,5%);
}

.card-enter {
  opacity: 0;
  z-index: 1;
  transform: translate(0%,5%);
}

.card-appear.card-appear-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1000ms linear, transform 1000ms;
}

.card-enter.card-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1000ms linear, transform 1000ms;
}

.card-exit {
  opacity: 1;
}

.card-exit.card-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}
.card-exit-done {
  opacity: 0;
}

/*Details Transition Group*/
.details-appear {
  opacity: 0;
  z-index: 1;
  transform: translate(0%,100%);
}

.details-enter {
  opacity: 0;
  z-index: 1;
  transform: translate(0%,100%);
}

.details-appear.details-appear-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1000ms linear, transform 1000ms;
}

.details-enter.details-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1000ms linear, transform 1000ms;
}

.details-exit {
  opacity: 1;
}

.details-exit.details-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}
.details-exit-done {
  opacity: 0;
}

